# Training
EPOCHS=200
USE_DOCKER=false
YOLO_BATCH_SIZE=16
YOLO_MAX_IMAGES=0

# GPU
CUDA_VISIBLE_DEVICES=0
DEVICE=cuda:0
VRAM_LIMIT_GB=12

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smartbin
DB_USER=postgres
DB_PASS=your_db_password
